@(schedule: models.radio.Schedule, broadcast: models.radio.Broadcast)

<table>

    <thead>

        <tr>
            <th rowspan="2">
                <a class="sort" href="sort=station">Station</a>
            </th>
            <th rowspan="2">
                <a class="sort" href="sort=country">Country</a>
            </th>

            <th colspan="2">Date</th>

            <th rowspan="2">Days of Week</th>

            <th colspan="2">Time</th>

            <th rowspan="2">
                <a class="sort" href="sort=frequency">Frequency</a>
            </th>

            <th rowspan="2">
                <a class="sort" href="sort=languages">Languages</a>
            </th>

            <th rowspan="2">Target Zones</th>

            <th rowspan="2">
                <a class="sort" href="sort=power">Power</a>
            </th>
            <th rowspan="2">
                <a class="sort" href="sort=modulation">Modulation</a>
            </th>
            <th rowspan="2">
                <a class="sort" href="sort=azimuth">Azimuth</a>
            </th>

            <th rowspan="2">
                <a class="sort" href="sort=note">Note</a>
            </th>

            <th colspan="4">Location</th>
        </tr>

        <tr>
            <th>
                <a class="sort" href="sort=startdate">Start</a>
            </th>
            <th>
                <a class="sort" href="sort=enddate">End</a>
            </th>

            <th>
                <a class="sort" href="sort=starttime">Start</a>
            </th>
            <th>
                <a class="sort" href="sort=endtime">End</a>
            </th>

            <th>
                <a class="sort" href="sort=location">Name</a>
            </th>
            <th>
                <a class="sort" href="sort=locationcountry">Country</a>
            </th>
            <th>Longitude</th>
            <th>Latitude</th>
        </tr>

    </thead>

    <tbody>

            <tr>
                <td class="station">
                    <a class="search" href="station=@broadcast.stationId">
                        @schedule.stations(broadcast.stationId).name
                    </a>
                </td>
                <td class="country">
                    <a class="search" href="country=@broadcast.countryId">
                        @schedule.countries(broadcast.countryId).name
                    </a>
                </td>

                <td class="date">
                    <a class="search" href="startdate=@broadcast.startDateText">
                        @broadcast.startDateText
                    </a>
                </td>
                <td class="date">
                    <a class="search" href="enddate=@broadcast.endDateText">
                        @broadcast.endDateText
                    </a>
                </td>

                <td class="days">@broadcast.daysOfWeek</td>

                <td class="time">
                    <a class="search" href="starttime=@broadcast.startTimeText">
                        @broadcast.startTimeText
                    </a>
                </td>
                <td class="time">
                    <a class="search" href="endtime=@broadcast.endTimeText">
                        @broadcast.endTimeText
                    </a>
                </td>

                <td>
                    <a class="search" href="frequency=@broadcast.frequency">
                        @broadcast.frequency
                    </a>
                </td>

                <td class="langs">
                    <a class="search" href="languages=@broadcast.languages">
                        @broadcast.languages
                    </a>
                </td>

                <td class="target">@broadcast.targetZones</td>

                <td>@broadcast.power</td>
                <td>@broadcast.modulation</td>
                <td>@(broadcast.azimuth)°</td>

                <td class="note">@broadcast.note</td>

                <td class="location">
                    <a class="search" href="location=@broadcast.locationId">
                        @schedule.locations(broadcast.locationId).name
                    </a>
                </td>
                <td class="country">
                    <a class="search"
                        href="locationcountry=@schedule.locations(broadcast.locationId).countryId">
                        @{
                        val location = schedule.locations(broadcast.locationId);
                        schedule.countries(location.countryId).name
                        }
                    </a>
                </td>
                <td>@schedule.locations(broadcast.locationId).longitude</td>
                <td>@schedule.locations(broadcast.locationId).latitude</td>
            </tr>

    </tbody>

</table>
